*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080324;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background: #080324;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 20px 8%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.portfolio-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ccadea;
    letter-spacing: 2px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #ded9e4; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li a:hover {
    color: #a259f7; 
    text-decoration: underline; 
}

/*----------about section-----------*/
#about{
    padding: 120px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.about-col-1{
    flex-basis: 30%;
    max-width: 400px;
    align-self: flex-start;
    margin-left: 0;
}
.about-col-1 img{
    width: 100%;
    height: auto;
    margin-left: 0;
    border-radius: 10%;
    display: block;
    padding-left: 0;
    
}
.about-col-2 {
    flex-basis: 57%;
    max-width: 600px;
}
.about_me{
    font-size: 2.0rem;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-col-2 p{
    line-height: 1.2;
    font-size: .9rem;
    color: #ababab;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tab-titles {
    display: flex;
    margin-top: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 1.2rem;
    font-weight: 1000;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
}
.tab-links:hover {
    color: #a259f7; 
    
}
.tab-contents ul li{
    margin: 5px 0;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tab-contents ul li span{
    font-weight: bold;
    color: #ff004f;
}
.tab-contents {
    display: none;
}
.tab-links.active-link { color: #a259f7; 
    font-weight: bold;
}
.tab-contents.active-tab {
    display: block;
}
/*----------services section-----------*/

#services {
    padding: 30px 0;
    color: #e1d8d8;
    
}
.sub-tittle {
    font-size: 2.0rem;
    font-weight: bold;
    color: #fdfbff;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px; 
    margin-top: 50px;
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 300;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.services-list div h2 {
    font-size: 1.5rem;
    color: #e7dddd ;
    margin-bottom: 10px;
    font-weight: 300;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.services-list div p {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.services-list div a {
    color: #c2bdc7; 
    text-decoration: none;
    font-weight: 500;
}
.services-list div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #ff004f; /* Darker background on hover */

}

/*----------portfolio section-----------*/
#portfolio {
    padding: 50px 0;
    color: #e1d8d8;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px; /* spacing between items */
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;   
    width: 100%;           
    height: 300px;           

}
.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}


.work img {
    width: 100%;        /* fixed width */
    height: 100%;       /* fixed height */
    object-fit: cover;
    
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}
.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),#ff004f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    overflow: hidden;
    transition: height 0.3s;
    opacity: 0;
    z-index: 2;
    
}
.layer h3 {
    font-size: 1.1rem;
    color: #e7dddd; 
    margin-bottom: 15px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.layer p {
    color: #c2bdc7; 
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
.layer a {
    background: #c2bdc7; 
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
    font-size: 14px;
    line-height: 60px;
    color: #ff004f; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);

}
.work:hover .layer {
    opacity: 1;

}

/*----------contact section-----------*/
.contact-left {
    flex-basis: 35%;
    max-width: 500px;
}
.contact-right {
    flex-basis: 60%;
    max-width: 500px;
}
.contact-left p{
    font-size: 1.1rem;
    color: #ababab;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-left h2 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #fdfbff;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-left p i{
    color: #ff004f; 
    margin-right: 10px;
    font-size: 15px;
}

.contact-right form {
   width: 100%;
    display: flex;
    flex-direction: column;

}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    background: #262626;
    color: #e1d8d8;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background: #ff004f; 
    color: #e1d8d8;
    border-radius: 5%;
}

.login-form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #2e2c2c;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #e1d8d8;
}

.login-form input {
    background: #262626 !important;  
    color: #e1d8d8 !important;       
}


/* Style for the "Remember Me" checkbox + text */
form label {
    display: inline-flex;      
    align-items: center;      
    gap: 6px;                  
    cursor: pointer;           
    font-size: 14px;
    color: #e1d8d8;           
    white-space: nowrap; 
}


form label input[type="checkbox"] {
    margin: 0;
    padding: 0;
}





/* -------- Admin Panel Styles -------- */
.admin-section {
    padding: 50px 8%;
    color: #e1d8d8;
}

.admin-section h1, .admin-section h2 {
    color: #ccadea;
}

.table-container {
    background: #262626;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container table, th, td {
    border: 1px solid #fff;
}

.table-container th, .table-container td {
    padding: 10px;
    text-align: left;
}

input[type=text] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background: #2e2c2c;
    color: #e1d8d8;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background: #ff004f;
    color: #e1d8d8;
    cursor: pointer;
    font-size: 12px;
}

button:hover {
    background: #a259f7;
}

form.inline {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

form.inline {
    display: inline;
    margin-top: 10px;
}

.logout-container {
    width: 100%;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}







