*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080324;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background: #080324;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 20px 8%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.portfolio-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ccadea;
    letter-spacing: 2px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #ded9e4; /* or any shade of purple you prefer */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li a:hover {
    color: #a259f7; /* or any shade of purple you prefer */
    text-decoration: underline; /* optional: adds an underline on hover*/
}

/*----------about section-----------*/
#about{
    padding: 120px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.about-col-1{
    flex-basis: 30%;
    max-width: 400px;
    align-self: flex-start;
    margin-left: 0;
}
.about-col-1 img{
    width: 100%;
    height: auto;
    margin-left: 0;
    border-radius: 10%;
    display: block;
    padding-left: 0;
     /* pushes image more to the left */
}
.about-col-2 {
    flex-basis: 57%;
    max-width: 600px;
}
.about_me{
    font-size: 2.0rem;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-col-2 p{
    line-height: 1.2;
    font-size: .9rem;
    color: #ababab;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tab-titles {
    display: flex;
    margin-top: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 1.2rem;
    font-weight: 1000;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
}
.tab-links:hover {
    color: #a259f7; /* or any shade of purple you prefer */
    
}
.tab-contents ul li{
    margin: 5px 0;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tab-contents ul li span{
    font-weight: bold;
    color: #ff004f; /* or any shade of purple you prefer */
}
.tab-contents {
    display: none;
}
.tab-links.active-link { color: #a259f7; /* or your highlight color */ 
    font-weight: bold;
}
.tab-contents.active-tab {
    display: block;
}
/*----------services section-----------*/
/* Services Section */
#services {
    padding: 30px 0;
    color: #e1d8d8;
    
}
.sub-tittle {
    font-size: 2.0rem;
    font-weight: bold;
    color: #fdfbff;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px; /* spacing between items */
    margin-top: 50px;
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 300;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.services-list div h2 {
    font-size: 1.5rem;
    color: #e7dddd ;/* or any shade of purple you prefer */
    margin-bottom: 10px;
    font-weight: 300;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.services-list div p {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.services-list div a {
    color: #c2bdc7; /* or any shade of purple you prefer */
    text-decoration: none;
    font-weight: 500;
}
.services-list div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #ff004f; /* Darker background on hover */

}

/*----------portfolio section-----------*/
#portfolio {
    padding: 50px 0;
    color: #e1d8d8;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px; /* spacing between items */
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    width: 300px; /* fixed width */
    height: 200px; /* fixed height */
    overflow: hidden;
}

.work img {
    width: 300px;        /* fixed width */
    height: 200px;       /* fixed height */
    object-fit: cover;
    
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}
.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),#ff004f);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    overflow: hidden;
    transition: height 0.3s;
    opacity: 0;
    z-index: 2;
    
}
.layer h3 {
    font-size: 1.5rem;
    color: #e7dddd; /* or any shade of purple you prefer */
    margin-bottom: 20px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.layer p {
    color: #c2bdc7; /* or any shade of purple you prefer */
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.layer a {
    background: #c2bdc7; /* or any shade of purple you prefer */
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;
    font-size: 18px;
    line-height: 60px;
    color: #ff004f; /* Darker background on hover */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);

}
.work:hover .layer {
    opacity: 1;

}

/*----------contact section-----------*/
.contact-left {
    flex-basis: 35%;
    max-width: 500px;
}
.contact-right {
    flex-basis: 60%;
    max-width: 500px;
}
.contact-left p{
    font-size: 1.1rem;
    color: #ababab;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-left h2 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #fdfbff;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-left p i{
    color: #ff004f; /* or any shade of purple you prefer */
    margin-right: 10px;
    font-size: 15px;
}

.contact-right form {
   width: 100%;
    display: flex;
    flex-direction: column;

}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    background: #262626;
    color: #e1d8d8;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background: #ff004f; /* or any shade of purple you prefer */
    color: #e1d8d8;
    border-radius: 5%;
}





